* {
    padding: 0px;
    margin: 0px;
}


.imagen-logo{
    background-color: rgb(111, 25, 197);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    box-shadow: -6px 6px 6px royalblue; 
}
.imagen-logo:hover{
    height: 80px;
    width: 80px;
}
.imagen-logo img{
    height: 60px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 6px 6px 6px #333;
}
.caja-menu-principal{
    background-color: rgb(142, 98, 243);
    width: 90%;
    height: 30%;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid #333;
    box-shadow: 12px 12px 12px rgb(159, 21, 145);
    padding: 10px;
}
.caja-menu-principal button:hover{
    font-size: 24px;
    background-color: rgb(6, 90, 90);
}

.caja-menu-principal label:hover{
    color:black
}
.menu-titulo{
    color: rgb(165, 126, 228);
    line-height: 50px;
    text-shadow: 12px 12px 12px rgb(80, 83, 236);
}

.menu-titulo:hover{
    font-size: 38px;
}

.btn-group{
    margin-top:5%;
    box-shadow: 4px 4px 4px #13829b;
}



