<div class="caja-menu-principal">
    <div class="row">
        <!--Columna de espacio-->
        <div class="col-sm-1"></div>
        <div class="col-sm-1">
            <nav class="imagen-logo">
                <img class="logo1" src="/assets/imagenes/logo.avif" alt="No carga la imagen">
            </nav>
        </div>
        <!--Columna de espacio-->
        <div class="col-sm-1"></div>
        <!--Columna de titulo-->
        <div class="col-sm-5">
            <h1 class="menu-titulo"> Amantes Salvajes</h1>
        </div>
        <!--Columna de espacio-->
        <div class="col-sm-1"></div>
        <!--Columna de MENU-->
        <div class="col-sm-2">
            <div class="btn-group">                
                <div class="btn-group">
                  <button type="button" class="btn text-light dropdown-toggle" data-bs-toggle="dropdown">
                    <label>Menu</label>
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="/index.html">INICIO</a>
                    <a class="dropdown-item" href="/templates/productos.html">PRODUCTOS</a>
                    <a class="dropdown-item" href="/templates/servicios.html">SERVICIOS</a>
                    <a class="dropdown-item" href="#">CONTACTENOS</a>
                  </div>
                </div>
              </div> 
        </div>
        <!--Columna de espacio-->
        <div class="col-sm-1"></div>
    </div>
</div>