<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Llamos estilos pie pagina-->
    <link rel="stylesheet" href="/css/pie-pagina-styles.css">
    <!--Llamos estilos Encabezado-->

    <link rel="stylesheet" href="/css/menu-style.css">
    <!--llamamos a los estilos de la pagina servicios-->
    <link rel="stylesheet" href="/css/servicios-styles.css">
    <title>SERVICIOS</title>
</head>

<body>
    <!--llamar la cabecera-->
    <div id="caja-encabezado-principal"></div>

    <div class="caja-grande">
        <div class="caja-pequeña-1">
            <h1>servicios sex shop</h1>
            <p>En nuestro sexshop, nos especializamos en ofrecer una experiencia de compra única que se adapta a tus
                deseos y necesidades personales. Nuestro equipo de expertos está aquí para ayudarte a explorar una
                amplia gama de productos diseñados para mejorar tu bienestar sexual y tu placer. Desde juguetes íntimos
                hasta lencería sensual, nos aseguramos de que encuentres exactamente lo que buscas para elevar tu vida
                amorosa. ¿Tienes dudas o preguntas? No dudes en consultar con nuestros asesores capacitados, quienes
                están comprometidos a proporcionarte recomendaciones personalizadas y confidenciales.</p>
        </div>
        <div class="caja-pequeña-2">

            <!-- Carousel -->
            <div id="demo" class="carousel slide" data-bs-ride="carousel">

                <!-- Indicators/dots -->
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                </div>

                <!-- The slideshow/carousel -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/assets/imagenes/images1.jpeg" alt="Los Angeles" class="d-block w-90">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/imagenes/imagen2.jpeg" alt="Chicago" class="d-block w-50">
                    </div>
                    <div class="carousel-item">
                        <img src="/assets/imagenes/imagen3.webp" alt="New York" class="d-block w-50">
                    </div>
                </div>

                <!-- Left and right controls/icons -->
                <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
        <div class="caja-pequeña-3">
            <h1>servicios sex shop</h1>
            <p>En nuestro sexshop, nos especializamos en ofrecer una experiencia de compra única que se adapta a tus
                deseos y necesidades personales. Nuestro equipo de expertos está aquí para ayudarte a explorar una
                amplia gama de productos diseñados para mejorar tu bienestar sexual y tu placer. Desde juguetes íntimos
                hasta lencería sensual, nos aseguramos de que encuentres exactamente lo que buscas para elevar tu vida
                amorosa. ¿Tienes dudas o preguntas? No dudes en consultar con nuestros asesores capacitados, quienes
                están comprometidos a proporcionarte recomendaciones personalizadas y confidenciales.</p>
        </div>
        </div>
    </div>


    <!--llamar a pie de pagina-->
    <div id="caja-piepagina-principal"></div>
    <!--Llamamos al encabezado con el js-->
    <script src="/js/encabezado.js"></script>
    <!--Llamamos al pie de página con el js-->
    <script src="/js/piepagina.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>